
<div class="divElement">
<div style="margin-left:10px">
<h1>Please Login..</h1>
</div>
<div class="details-main-dev">
  <div class="details-label-div">
    <label>Username :</label>
  </div>
  <div>
  <input type="text"  [(ngModel)]="username" required ></div>
</div>
<div class="details-main-dev">
  <div class="details-label-div">
  <label>Password :</label>
</div>
<div>
  <input type="password" [(ngModel)]="password" required>
</div>
</div>
<div>
  <button style="margin-left:300px; margin-bottom: 10px;" type="submit" (click)="loginToApplication()">Login</button>
</div>

</div>

